.new__invoice {
  position: relative;
  &__form {
    margin-top: 3rem;
    height: 100%;
    overflow-y: scroll;
    padding-right: 1rem;
    padding-bottom: 10rem;
    & .app__row {
      margin-bottom: 1.5rem;
    }
  }

  &__group__title {
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 1.5rem;
  }

  &__items {
    margin-top: 3.125rem;
    &__header {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1rem;
      & > div {
        color: var(--common-text-dark-color);
        font-weight: 500;
        font-size: calc(1rem - 3px);
      }
    }
    &__data {
      display: flex;
      align-items: center;
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
    &__header, &__data {
      & > div:first-child {
        flex-basis: 40%;
      }
      & > div:nth-child(2) {
        flex-basis: 15%;
      }
      & > div:nth-child(4) {
        flex-basis: 15%;
      }
      & > div:nth-child(3) {
        flex-basis: 25%;
      }
      & > div:last-child {
        flex-basis: 5%;
        text-align: right;
      }
    }

    &__btn {
      margin-top: 1rem;
    }
  }

  &__actions {
    margin-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & > .right {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .new__invoice {
    &__form {
      padding-right: 0;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__actions {
      position: fixed;
      width: 100%;
      left: 0;
      bottom: 0;
      background-color: var(--card-bg-light-color);
      padding: 1.25rem 1.5rem;
      & > .right {
        gap: .5rem;
      }
    }
  }
}