.invoice__status {
  display: flex;
  align-items: center;
  padding: .75rem 1.125rem;
  border-radius: 6px;
  gap: .5rem;
  width: 104px;
  justify-content: center;
  mix-blend-mode: normal;

  &.invoice--draft {
    background: var(--draft-status-light);
  }
  &.invoice--pending {
    background: var(--pending-status-light);
  }
  &.invoice--paid {
    background: var(--paid-status-light);
  }

  &__circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;

    &.invoice--draft {
      background: var(--draft-status);
    }
    &.invoice--pending {
      background: var(--pending-status);
    }
    &.invoice--paid {
      background: var(--paid-status);
    }
  }

  &__text {
    font-weight: 700;
    font-size: 15px;
    &.invoice--draft {
      color: var(--draft-status);
    }
    &.invoice--pending {
      color: var(--pending-status);
    }
    &.invoice--paid {
      color: var(--paid-status);
    }
  }
}