.invoice__actions {
  margin-top: 2rem;
  padding: 1.25rem 2rem;
  background: var(--card-bg-color);
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.1);
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;

  &__status {
    display: flex;
    align-items: center;
  }

  &__btns {
    display: flex;
    align-items: center;
    & > button:not(:last-child) {
      margin-right: .5rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .invoice__actions {
    &__btns {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 1.25rem;
      background: var(--card-bg-color);
      justify-content: center;
      //display: none;
    }
    &__status {
      width: 100%;
      justify-content: space-between;
    }
  }
}