.app__input {
  outline: none;
  padding: 1rem .75rem;
  width: 100%;
  font-size: 1rem;
  color: var(--title-dark-color);
  font-weight: bold;
  background-color: var(--card-bg-color);
  transition: border .3s, background-color .3s;

  &:focus {
    border: 1px solid var(--primary-color);
  }

  &::placeholder {
    font-size: 1rem;
    color: var(--common-text-color);
    font-weight: bold;
  }

  &__label p {
    font-size: calc(1rem - 3px);
    color: var(--common-text-dark-color);
    font-weight: 500;
    margin-bottom: .5rem;
  }

  &--mode {
    &--default {
      border-radius: .25rem;
      border: 1px solid var(--border-light-color);
    }
  }

  &--error {
    border: 1px solid var(--error-color);
    background-color: var(--error-light-color);
  }

  &__error__text {
    font-weight: bold;
    color: var(--error-color);
    font-size: 12px;
  }
}