.app__row {
  display: flex;
  align-items: start;
  gap: 1rem;
  &__3 {
    & > .app__col {
      flex-basis: 33.3333%;
    }
  }
}

@media screen and (max-width: 768px) {
  .app__row {
    gap: .5rem;
    &__3 {
      &__2__sm {
        flex-wrap: wrap;
        & > .app__col {
          flex-basis: unset;
        }
        & > .app__col:not(:last-child) {
          flex-basis: calc(50% - .25rem);
        }
        & > .app_col:last-child {
          flex-basis: 100%;
        }
      }
    }
  }
}