.slide__modal {
  top: 0;
  position: absolute;
  visibility: hidden;
  left: -100%;
  &--open {
    visibility: visible;
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000030;
    width: 100%;
    height: 100vh;
    transition: background-color .3s;
  }
  &__wrapper {
    border-radius: 0 20px 20px 0;
    position: relative;
    left: -50%;
    z-index: 4;
    background-color: var(--card-bg-color);
    width: calc(50% + 100px);
    padding: 3.75rem 3.5rem 3.75rem calc(100px + 3.5rem);
    height: 100%;
    //transition: left .5s;
    transition-property: left;
    transition-duration: .3s;
    &.open {
      left: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .slide__modal {
    &__wrapper {
      width: 100%;
      padding: 2rem;
    }
  }
}