button {
  outline: none;
  border: none;
  background: none;
}

.app-btn {
  display: flex;
  align-items: center;
  transition: background-color .3s;
  cursor: pointer;
  //padding: 1rem 1.5rem;
}

.btn {
  &--coloring {
    &--dark {
      background: #373B53;
      color: #888EB0;
    }
    &--light {
      background-color: var(--card-bg-light-color);
      color: var(--common-text-color);
      &:hover {
        background-color: var(--common-text-color-light);
      }
    }
    &--primary {
      color: #ffffff;
      background-color: var(--primary-color);
      &:hover {
        background-color: var(--primary-color-light);
      }
    }
    &--error {
      color: #ffffff;
      background-color: var(--error-color);
      &:hover {
        background-color: var(--error-light-color);
      }
    }
  }
  &--sizing {
    &--default {
      font-size: 1rem;
      padding: 1rem 1.5rem;
    }
  }
  &--width {
    &--full {
      justify-content: center;
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .btn {
    &--sizing {
      &--default {
        font-size: 1rem;
        padding: 1rem;
      }
    }
  }
}