.invoice__full {
  background: var(--card-bg-color);
  padding: 3rem;
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  border-radius: .5rem;
  &__base {
    display: flex;
    align-items: center;
    justify-content: space-between;
    & > .base__right {
      text-align: right;
      & > div:not(:last-child) {
        margin-bottom: .25rem;
      }
    }
  }

  &__main {
    margin-top: 1.25rem;
    display: flex;
    align-items: start;
    gap: 7.5rem;
  }

  &__items {
    margin-top: 3rem;
  }
}

.invoice__address {
  & > div:not(:last-child) {
    margin-bottom: .25rem;
  }
}

.invoice__main__item {
  & > .header {
    color: var(--common-text-color);
    font-size: calc(1rem - 3px);
  }
  & > .value {
    color: var(--title-dark-color);
    font-size: 1rem;
    font-weight: bold;
    margin-top: calc(1rem - 3px);
  }
}

.invoice__main__col > .invoice__main__item:not(:last-child) {
  margin-bottom: 2rem;
}

.invoice__rows {
  padding: 2rem;
  background: var(--card-bg-light-color);
  border-radius: 8px 8px 0px 0px;

  &__header, &__data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
  }

  &__header, &__data:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__header, &__data {
    & > div:first-child {
      flex-basis: 35%;
    }
    & > div:not(:first-child) {
      flex-basis: 15%;
    }
    & > div:nth-child(2) {
      text-align: center;
    }
    & > div:nth-child(3),
    & > div:nth-child(4) {
      text-align: right;
    }
  }
}

.invoice__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--dark-bg-color);
  padding: 2rem;
  border-radius: 0px 0px 8px 8px;
  color: #ffffff;
  &__title {
    font-size: calc(1rem - 3px);
  }
}

.invoice__items__mobile {
  margin-top: 2.5rem;
  &__data {
    background: var(--card-bg-light-color);
    border-radius: .5rem .5rem 0 0;
    padding: 1.5rem;
  }
  &__total {
    background: var(--dark-bg-color);
    padding: 1.5rem;
    border-radius: 0 0 .5rem .5rem;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & > .title {
      font-weight: 500;
      font-size: calc(1rem - 3px);
    }
    & > .amount {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
  &__unit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
    & .title {
      margin-bottom: .5rem;
    }
    & .quantity {
      font-weight: bold;
      color: var(--common-text-dark-color);
    }
  }
}

@media screen and (max-width: 768px) {
  .invoice__full {
    padding: 1.5rem;
    margin-bottom: 6rem;
  }
}