.confirm__delete {
  &__bg {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #00000090;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__modal {
    width: min(calc(100vw - 20%), 480px);
    position: absolute;
    padding: 3rem;
    background: var(--card-bg-color);
    box-shadow: 0 10px 10px -10px rgba(72, 84, 159, 0.1);
    border-radius: .5rem;
  }
  &__actions {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: .5rem
  }
}

@media screen and (max-width: 768px) {
  .confirm__delete {
    &__modal {
      padding: 2rem;
    }
  }
}