.empty {
  &__block {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      max-height: 200px;
      margin-bottom: 4rem;
    }
  }
  &__title {
    font-size: 1.5rem;
    color: #0C0E16;
    margin-bottom: 1.5rem;
  }
  &__description {
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    max-width: 200px;
  }
}