.typography {
  &__title {
    font-weight: bold;
    color: var(--title-dark-color);
  }
  &__commonText {
    font-size: calc(1rem - 3px);
    color: var(--common-text-color);
    font-weight: 500;
    &Dark {
      color: var(--common-text-dark-color);
    }
  }
}