.layout {
  &__wrapper {
    display: flex;
  }

  &__container {
    max-width: min(730px, calc(100vw - 3rem));
    margin: 0 auto;
  }

  &__content {
    height: 100vh;
    overflow-y: scroll;
    width: 100%;
    padding-top: 5rem;
  }
}


@media screen and (max-width: 1440px) {
  .layout {
    &__wrapper {
      flex-direction: column;
    }
    &__container {
      padding-bottom: 6rem;
    }
    &__content {
      padding-top: 2rem;
    }
  }
}