.invoice__mobile {
  display: flex;
  flex-direction: column;

  &__top, &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__top {
    margin-bottom: 1.5rem;
  }

  &__bottom {
    & > .left {
      display: flex;
      flex-direction: column;
      align-items: start;
    }
  }

  background: var(--card-bg-color);
  box-shadow: 0 10px 10px -10px rgba(72, 84, 159, 0.100397);
  border-radius: 8px;

  padding: 1rem 2rem;
  margin-bottom: 1rem;

  //display: flex;
  //align-items: center;
  //
  //& > div {
  //}

  //& > div:first-child {
  //  flex-basis: 15%;
  //  margin-right: 1rem;
  //}
  //& > div:nth-child(2),
  //& > div:nth-child(3) {
  //  flex-basis: 25%;
  //}
  //& > div:nth-child(4) {
  //  flex-basis: 20%;
  //  margin-right: 2.5rem;
  //}
  //& > div:nth-child(5) {
  //  flex-basis: 10%;
  //  margin-right: 1.5rem;
  //}
  //& > div:last-child {
  //  flex-basis: 5%;
  //}

  &__id {
    font-weight: 700;
    font-size: 15px;
    letter-spacing: -0.25px;
    color: var(--title-dark-color);
  }
  &__date, &__author {
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.1px;
    color: #888EB0;
  }

  &__amount {
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    text-align: right;
    letter-spacing: -0.25px;
    color: var(--title-dark-color);
  }

  &__action {
    cursor: pointer;
  }
}