.sidebar {
  position: relative;
  z-index: 9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #373B53;
  width: 100px;
  height: 100vh;

  border-radius: 0 20px 20px 0;

  &__logo {
    background: var(--primary-color);
    border-radius: 0 20px 20px 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    img {
      z-index: 2;
    }

    &::before {
      content: '';
      background: #9277FF;
      position: absolute;
      height: 50%;
      border-radius: 20px 0;
      bottom: 0;
      z-index: 1;
      width: 100%;
    }
  }

  &__footer {
    width: 100%;
  }

  &__theme__switcher {
    border-bottom: 1px solid #494E6E;
    //width: 100%;
    padding: 0 42px 2rem 42px;
  }

  &__user__info {
    padding: 1.5rem 2rem;
    img {
      width: 40px;
      height: 40px;
    }
  }
}

@media screen and (max-width: 1440px) {
  .sidebar {
    width: unset;
    flex-direction: row;
    height: 80px;
    justify-content: space-between;
    border-radius: unset;

    &__logo {
      width: 80px;
      height: 100%;
    }
    &__footer {
      display: flex;
      width: unset;
      height: 100%;
    }

    &__theme__switcher {
      border-right: 1px solid #494E6E;
      border-bottom: unset;
      display: flex;
      align-items: center;
      padding: 0 2rem 0 0;
      //padding: 42px 2rem 42px 0;
    }
  }
}