.invoices__header {
  &__filter {
    color: var(--title-dark-color);
    font-weight: bold;
  }
  &__title {
    font-size: 2.25rem;
    color: var(--title-dark-color);
    font-weight: bold;
  }
  &__desc {
    font-size: 13px;
    font-weight: 500;
    color: var(--common-text-color);
  }
  &__right {
    display: flex;
    align-items: center;
    gap: 2.5rem
  }
}

.invoices__list {
  margin-top: 4rem;
}

@media screen and (max-width: 768px) {
  .invoices__header {
    &__title {
      font-size: 1.5rem;
    }
    &__right {
      display: flex;
      align-items: center;
      gap: 1rem
    }
  }

  .invoices__list {
    padding-bottom: 6rem;
  }
}