@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'League Spartan', sans-serif;
}

body {
  --primary-color: #7C5DFA;
  --primary-color-light: #9277FF;
  --error-color: #EC5757;
  --error-light-color: #FF9797;

  --title-dark-color: #0C0E16;
  --title-dark-hover-color: #7E88C3;
  --common-text-color: #888EB0;
  --common-text-dark-color: #7E88C3;
  --common-text-color-light: #DFE3FA;
  --border-light-color: #DFE3FA;
  --app-bg-color: #F8F8FB;
  --card-bg-color: #ffffff;
  --card-bg-light-color: #F9FAFE;

  /* STATUSES */
  --paid-status: #33D69F;
  --paid-status-light: #33D69F0F;
  --pending-status: #FF8F00;
  --pending-status-light: #FF8F000F;
  --draft-status: #373B53;
  --draft-status-light: #373B530F;

  --dark-bg-color: #373B53;

  background: var(--app-bg-color);

  overflow-y: hidden;
}

body[theme-mode='dark'] {
  --app-bg-color: #141625;
  --title-dark-color: #ffffff;
  --card-bg-light-color: #252945;
  --card-bg-color: #1E2139;

  /* STATUSES */
  --draft-status: #DFE3FA;
  --draft-status-light: #DFE3FA0F;

  --dark-bg-color: #0C0E16;
}